body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, p {
    margin: 1rem;
    padding: 1rem;
}

h1 {
    font-weight: lighter;
    font-size: 1.6rem;
    color: white;
    margin-top: 0px;
    padding: 0.5rem;
}

h2 {
    font-weight: bold;
    margin-top: 20vh;
    margin-bottom: 0.1rem;
    font-size: 2rem;
    color: white;
}

p {
    margin-top: 0rem;
    padding-top: 0.1rem;
    font-size: 1.3rem;
    color: white;

}



